<div class="about-section">
  <h1>About Me</h1>
  <div class="about-content">
      <p>
          Hello everybody, my name is Akram, and I am a full stack developer.
          My journey started when I was 7 or 8 years old. My father put me in a computer
          club where I had my first interactions with a computer.
      </p>
      <p>
          Years later, I found myself pursuing higher education in computer science. 
          To further build my skills in web development and enhance my career readiness, 
          I joined a boot camp at RBK Tunisia (ReBootKamp), where I added valuable new skills to my portfolio.
      </p>
  </div>
</div>

