<div class="education-section">
  <h1 class="title">Education Background</h1>
  <div class="education-content">
    <div class="education-card">
      <h3 class="sub-title">RBK Tunisia</h3>
      <p class="degree">Full Stack JS Development</p>
      <p class="date">Oct 2022 - Mar 2023</p>
    </div>
    <div class="education-card">
      <h3 class="sub-title">Kocaeli University</h3>
      <p class="degree">Computer Science</p>
      <p class="date">Sep 2014 - Jul 2019</p>
    </div>
  </div>
</div>
