<div class="experience-section">
  <h1 class="title">My Experience</h1>
  <div class="content">
    <div class="experience-card">
      <h3 class="sub-title">Marabout Technology</h3>
      <span class="date">Oct 2023 - Present</span>
      <h6 class="position">Full Stack JS Developer: Angular/NodeJS</h6>
      <p class="description">
        Develop and maintain various modules of a web application.
      </p>
    </div>

    <div class="experience-card">
      <h3 class="sub-title">RBK Tunisia</h3>
      <span class="date">Oct 2022 - Mar 2023</span>
      <h6 class="position">Full Stack JS Developer: React/NodeJS</h6>
      <p class="description">Full Stack JavaScript Boot Camp.</p>
    </div>
  </div>
</div>
