<div class="contact-section">
  <h1 class="title">Contact Me</h1>
  <div class="content">
    <span class="contact-item">
      <i class="bi bi-telephone-fill"></i>
      <span> Phone Number: <strong>+216 21 824 361</strong></span>
    </span>
    <span class="contact-item">
      <i class="bi bi-envelope-at-fill"></i>
      <span>
        Email:
        <strong
          ><a href="mailto:akrambenaoun1993&#64;gmail.com"
            >akrambenaoun1993&#64;gmail.com</a
          ></strong
        ></span
      >
    </span>
    <span class="contact-item">
      <i class="bi bi-house-add-fill"></i>
      <span> Address: <strong>Ariana</strong></span>
    </span>
    <span class="contact-item">
      <i class="bi bi-linkedin"></i>
      <span> LinkedIn: <strong>Akram Ben AOun</strong></span>
    </span>
    <span class="contact-item">
      <i class="bi bi-github"></i>
      <span> Github: <strong>akramBNA</strong></span>
    </span>
  </div>
</div>
