<div class="body">
    <mat-toolbar color="primary" class="navbar">
      <span class="title">My Portfolio</span>
      <span class="spacer"></span>
      <div class="menu-container">
        <button mat-button class="mat-button">Home</button>
        <button mat-button class="mat-button">About</button>
        <button mat-button class="mat-button">Contact</button>
      </div>
      <div class="auth-buttons">
        <button mat-button class="mat-button">Login</button>
        <button mat-button class="mat-button">Sign Up</button>
      </div>
    </mat-toolbar>
  
    <div class="split_divs">
      <div class="left_div">
        <img
          class="pofile_image"
          src="assets/person.jpg"
          alt="Profile Image"
        />
      </div>
      <div class="right_div"></div>
    </div>
  
    <footer class="footer">
      <span>Credit: Akram Benaoun</span><span style="font-weight: bolder;"> {{current_year}}</span>
    </footer>
  </div>
  